<a href="https://colab.research.google.com/github/megahed1/preprocessing-titanic-/blob/main/Tintanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [ ]:
df = pd.read_csv("train.csv")   # loding data

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.shape

(891, 12)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
#finding missing value        bigger than 50 :: remove
df.isnull().sum() * 100 / df.shape[0]

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [ ]:
df.isnull().sum()   # to find null value

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df.duplicated().sum()   # to find duplicated

0

In [ ]:
df_filled = df.fillna({                   # to replace null (missing values)
    'Age': df['Age'].mean(),
    'Embarked': df['Embarked'].mode()[0]
})

print("\nData with Filled Missing Values:")
print(df_filled)

Data with Filled Missing Values:
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex        Age  \
0                              Braund, Mr. Owen Harris    male  22.000000
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                               Heikkinen, Miss. Laina  female  26.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                             Allen, Mr. William Henry    male  35.000000
..                                                 ...     ...        ...
886                              Montvila, Rev. Juozas    male  27.000000
887                       Graham, Miss. Margaret Edith  female  19.000000
888           Johnston, Miss. Catherine Helen "Carrie"  female  29.699118
889                              Behr, Mr. Karl Howell    male  26.000000
890                                Dooley, Mr. Patrick    male  32.000000

     SibSp  Parch            Ticket     Fare Cabin Embarked
0        1      0         A/5 21171   7.2500   NaN        S
1        1      0          PC 17599  71.2833   C85        C
2        0      0  STON/O2. 3101282   7.9250   NaN        S
3        1      0            113803  53.1000  C123        S
4        0      0            373450   8.0500   NaN        S
..     ...    ...               ...      ...   ...      ...
886      0      0            211536  13.0000   NaN        S
887      0      0            112053  30.0000   B42        S
888      1      2        W./C. 6607  23.4500   NaN        S
889      0      0            111369  30.0000  C148        C
890      0      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [ ]:
df_filled = df.dropna()           # Removes rows with any missing value
print("\nData with Dropped Missing Values:")
print(df_filled)

Data with Dropped Missing Values:
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[183 rows x 12 columns]

In [ ]:
# remove cabin column

df_filled = df_filled.drop('Cabin', axis=1)
print("\nData with Dropped 'Cabin' Column:")
print(df_filled)

Data with Dropped 'Cabin' Column:
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare Embarked
1        0  PC 17599  71.2833        C
3        0    113803  53.1000        S
6        0     17463  51.8625        S
10       1   PP 9549  16.7000        S
11       0    113783  26.5500        S
..     ...       ...      ...      ...
871      1     11751  52.5542        S
872      0       695   5.0000        S
879      1     11767  83.1583        C
887      0    112053  30.0000        S
889      0    111369  30.0000        C

[183 rows x 11 columns]

In [ ]:
 # to find percentage of missing value
df_filled.isnull().sum()/df_filled.shape[0]*100

PassengerId    0.0
Survived       0.0
Pclass         0.0
Name           0.0
Sex            0.0
Age            0.0
SibSp          0.0
Parch          0.0
Ticket         0.0
Fare           0.0
Embarked       0.0
dtype: float64

In [ ]:
df.drop_duplicates(subset='Name', keep='first')   # to remove duplicate value

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
df.describe(include='object').T # to find unique value (transpose)

         count unique                      top freq
Name       891    891  Braund, Mr. Owen Harris    1
Sex        891      2                     male  577
Ticket     891    681                   347082    7
Cabin      204    147                  B96 B98    4
Embarked   889      3                        S  644

In [ ]:
#creating a new column 'age group'
df_filled['Age Group'] = pd.cut(df_filled['Age'], bins=[0, 25, 30, 100], labels=['Youth', 'Young Adult', 'Adult'])
print(df_filled)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare Embarked    Age Group
1        0  PC 17599  71.2833        C        Adult
3        0    113803  53.1000        S        Adult
6        0     17463  51.8625        S        Adult
10       1   PP 9549  16.7000        S        Youth
11       0    113783  26.5500        S        Adult
..     ...       ...      ...      ...          ...
871      1     11751  52.5542        S        Adult
872      0       695   5.0000        S        Adult
879      1     11767  83.1583        C        Adult
887      0    112053  30.0000        S        Youth
889      0    111369  30.0000        C  Young Adult

[183 rows x 12 columns]

In [ ]:
# outliers : values out of range
df_filled['Fare'].describe()

count    183.000000
mean      78.682469
std       76.347843
min        0.000000
25%       29.700000
50%       57.000000
75%       90.000000
max      512.329200
Name: Fare, dtype: float64

In [ ]:
fig = px.box(df_filled, x='Fare')  # to find outliers
fig.show()

In [ ]:
q1 = df_filled['Fare'].quantile(0.25)
q3 = df_filled['Fare'].quantile(0.75)
iqr = q3 - q1

outliers = df_filled[(df_filled['Fare'] < q1 - 1.5 * iqr) | (df_filled['Fare'] > q3 + 1.5 * iqr)]
print(outliers)
#Removing outliers #Fixed typo here
df_no_outliers = df_filled[~df_filled.isin(outliers)].dropna()
print("\nData with outliers removed")
print(df_no_outliers)

     PassengerId  Survived  Pclass  \
27            28         0       1
88            89         1       1
118          119         0       1
299          300         1       1
311          312         1       1
341          342         1       1
377          378         0       1
438          439         0       1
679          680         1       1
689          690         1       1
700          701         1       1
716          717         1       1
730          731         1       1
737          738         1       1
742          743         1       1
779          780         1       1

                                                  Name     Sex   Age  SibSp  \
27                      Fortune, Mr. Charles Alexander    male  19.0      3
88                          Fortune, Miss. Mabel Helen  female  23.0      3
118                           Baxter, Mr. Quigg Edmond    male  24.0      0
299    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.0      0
311                         Ryerson, Miss. Emily Borie  female  18.0      2
341                     Fortune, Miss. Alice Elizabeth  female  24.0      3
377                          Widener, Mr. Harry Elkins    male  27.0      0
438                                  Fortune, Mr. Mark    male  64.0      1
679                 Cardeza, Mr. Thomas Drake Martinez    male  36.0      0
689                  Madill, Miss. Georgette Alexandra  female  15.0      0
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  female  18.0      1
716                      Endres, Miss. Caroline Louise  female  38.0      0
730                      Allen, Miss. Elisabeth Walton  female  29.0      0
737                             Lesurer, Mr. Gustave J    male  35.0      0
742              Ryerson, Miss. Susan Parker "Suzette"  female  21.0      2
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.0      0

     Parch    Ticket      Fare Embarked    Age Group
27       2     19950  263.0000        S        Youth
88       2     19950  263.0000        S        Youth
118      1  PC 17558  247.5208        C        Youth
299      1  PC 17558  247.5208        C        Adult
311      2  PC 17608  262.3750        C        Youth
341      2     19950  263.0000        S        Youth
377      2    113503  211.5000        C  Young Adult
438      4     19950  263.0000        S        Adult
679      1  PC 17755  512.3292        C        Adult
689      1     24160  211.3375        S        Youth
700      0  PC 17757  227.5250        C        Youth
716      0  PC 17757  227.5250        C        Adult
730      0     24160  211.3375        S  Young Adult
737      0  PC 17755  512.3292        C        Adult
742      2  PC 17608  262.3750        C        Youth
779      1     24160  211.3375        S        Adult

Data with outliers removed
     PassengerId  Survived  Pclass  \
1            2.0       1.0     1.0
3            4.0       1.0     1.0
6            7.0       0.0     1.0
10          11.0       1.0     3.0
11          12.0       1.0     1.0
..           ...       ...     ...
871        872.0       1.0     1.0
872        873.0       0.0     1.0
879        880.0       1.0     1.0
887        888.0       1.0     1.0
889        890.0       1.0     1.0

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0    1.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0    1.0
6                              McCarthy, Mr. Timothy J    male  54.0    0.0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0    1.0
11                            Bonnell, Miss. Elizabeth  female  58.0    0.0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0    1.0
872                           Carlsson, Mr. Frans Olof    male  33.0    0.0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0    0.0
887                       Graham, Miss. Margaret Edith  female  19.0    0.0
889                              Behr, Mr. Karl Howell    male  26.0    0.0

     Parch    Ticket     Fare Embarked    Age Group
1      0.0  PC 17599  71.2833        C        Adult
3      0.0    113803  53.1000        S        Adult
6      0.0     17463  51.8625        S        Adult
10     1.0   PP 9549  16.7000        S        Youth
11     0.0    113783  26.5500        S        Adult
..     ...       ...      ...      ...          ...
871    1.0     11751  52.5542        S        Adult
872    0.0       695   5.0000        S        Adult
879    1.0     11767  83.1583        C        Adult
887    0.0    112053  30.0000        S        Youth
889    0.0    111369  30.0000        C  Young Adult

[167 rows x 12 columns]

In [ ]:
fig = px.box(df_no_outliers, x='Fare') # no outlires
fig.show()

In [ ]:
df_no_outliers.drop('Name', axis=1, inplace=True)
df_no_outliers.drop('Ticket', axis=1, inplace=True)

print(df_no_outliers)

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare  \
1            2.0       1.0     1.0  female  38.0    1.0    0.0  71.2833
3            4.0       1.0     1.0  female  35.0    1.0    0.0  53.1000
6            7.0       0.0     1.0    male  54.0    0.0    0.0  51.8625
10          11.0       1.0     3.0  female   4.0    1.0    1.0  16.7000
11          12.0       1.0     1.0  female  58.0    0.0    0.0  26.5500
..           ...       ...     ...     ...   ...    ...    ...      ...
871        872.0       1.0     1.0  female  47.0    1.0    1.0  52.5542
872        873.0       0.0     1.0    male  33.0    0.0    0.0   5.0000
879        880.0       1.0     1.0  female  56.0    0.0    1.0  83.1583
887        888.0       1.0     1.0  female  19.0    0.0    0.0  30.0000
889        890.0       1.0     1.0    male  26.0    0.0    0.0  30.0000

    Embarked    Age Group
1          C        Adult
3          S        Adult
6          S        Adult
10         S        Youth
11         S        Adult
..       ...          ...
871        S        Adult
872        S        Adult
879        C        Adult
887        S        Youth
889        C  Young Adult

[167 rows x 10 columns]

In [ ]:
df_no_outliers['Age Group'] = df_no_outliers['Age Group'].astype(str)
df_no_outliers['Embarked'] = df_no_outliers['Embarked'].astype(object)
df_no_outliers['Sex'] = df_no_outliers['Sex'].astype(object)
print(df_no_outliers.dtypes)

PassengerId    float64
Survived       float64
Pclass         float64
Sex             object
Age            float64
SibSp          float64
Parch          float64
Fare           float64
Embarked        object
Age Group       object
dtype: object

In [ ]:
#one hot encoded
df_encoded = pd.get_dummies(df_no_outliers, columns=['Sex','Embarked','Age Group']).astype(int)#, prefix=['Sex', 'Embarked', 'Age Group']) # Add prefixes for clarity
print("\nEncoded Data:")
print(df_encoded.head())

Encoded Data:
    PassengerId  Survived  Pclass  Age  SibSp  Parch  Fare  Sex_female  \
1             2         1       1   38      1      0    71           1
3             4         1       1   35      1      0    53           1
6             7         0       1   54      0      0    51           0
10           11         1       3    4      1      1    16           1
11           12         1       1   58      0      0    26           1

    Sex_male  Embarked_C  Embarked_Q  Embarked_S  Age Group_Adult  \
1          0           1           0           0                1
3          0           0           0           1                1
6          1           0           0           1                1
10         0           0           0           1                0
11         0           0           0           1                1

    Age Group_Young Adult  Age Group_Youth
1                       0                0
3                       0                0
6                       0                0
10                      0                1
11                      0                0

In [ ]:
df_encoded.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Age Group_Adult,Age Group_Young Adult,Age Group_Youth
1,2,1,1,38,1,0,71,1,0,1,0,0,1,0,0
3,4,1,1,35,1,0,53,1,0,0,0,1,1,0,0
6,7,0,1,54,0,0,51,0,1,0,0,1,1,0,0
10,11,1,3,4,1,1,16,1,0,0,0,1,0,0,1
11,12,1,1,58,0,0,26,1,0,0,0,1,1,0,0